@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.menu-acceuil
 {
	font-family: 'Alkatra', cursive;
 }
body
{
	font-family: 'Alkatra', cursive;
}
.menu
{
	display: flex; /*Transformation en flexbox*/
	padding: 0; /*Suppresion des marges internes*/
	background-color: ; /*Ajout de la couleur d'arriere plan*/
}
.menu li
{
	list-style-type: none; /*Suppresion des puces*/
}
/*Dimensions des liens*/
.menu a
{
	display: block; /*Transformation en block*/
	min-width: 120px; /*Largeur minimale des liens*/
}
/*Mise en forme des boutons*/
.menu a
{
	display: block; /*Transformation en block*/
	min-width: 120px; /*Largeur minimale des liens*/
	margin: 0.5rem; /*Marges externes (1 valeur = 4 directions*/
	padding: 0.4rem 0; /*Marges internes (2 valeurs = haut/bas et gauche/droite*/
	text-align: center; /*Centrage du texte*/
	background-color: #fffdfd; /*Couleur d'arrière plan*/
	color: #000000; /*couleur du texte*/
	text-decoration: none; /*Suppression des soulignements*/
	border: 1px solid #fff; /*Ajout d'une bordure*/
	border-radius: 4px; /*arrondis des bordures*/
}
/*Alignement horizontal des liens*/
.menu
{
	display: flex; /*Transformation en flexbox*/
	padding: 0; /*Suppression des marges internes*/
	background-color:; /*Ajout de la couleur d'rrière plan*/
	justify-content: center; /*Alignment des liens dans le menu*/
}
/*Ajouter un effet de survol*/
.menu a:hover
{

	color: #919191;

}
/*Ajouter une transition pour avoir des effets de survol progressifs*/
.menu a
{
	transition: all 1s; /*Ajout de seffets de transition*/
}
.wrapper
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper
{
	margin: 150px auto;
	width: 70% ;
}
.text-box h2
{
	font-size: 45px;
	letter-spacing: 0.2rem;
}
.text-box p
{
	font-size: 16px;
	
}
.container-site .wrapper img
{
	float: left;

	margin-right: 18px;
}
.proprietes
{
	text-align: center;
	font-size: 28px;

}
.villa
{
	height: 550px;
	width: 1309px;
	position: relative;
	margin-left: 0px;
}

.text-over
{
	position: absolute;
	left: 20%;
	top: 0%;
}
.container-site
{


}


.session_2
{
    display :flex;
    flex-wrap:wrap;
}


/* Css du footer*/
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body
{
    background-color:red ;

    position: absolute;
    font-family: 'Alkatra', cursive;
    color:rgb(147, 150, 162);
    font-weight: bold;
	position: absolute;


}

form
{
    background-color:#193034;
    padding: 30px;
    border-radius: 50px;
    width:920px;
	justify-content: center;
	

}
form h1
{
    font-size:20px;
}
form .separation
{
    width:100%;
    height: 1px;
    background-color:blueviolet;
}
form .corps-formulaire
{
    display :flex;
    flex-wrap:wrap;
    
}
form .corps-formulaire-droite
{
    display :flex;
    flex-wrap:wrap;
    
}
form .corps-formulaire .boite
{
    margin-top:20px;
    margin-left:145px;
}
form .corps-formulaire .groupe_2 .boite-message
{
    margin-top:20px;
    margin-left:5px;
    height:100%;
}
form .corps-formulaire .droite .corps-formulaire-droite .groupe_1 input
{
    padding: 10px 5px 10px 15px;
    border:1px solid #c9c9c9;
    outline-color: red;
    border-radius:5px;
    background-color:#193034;
    color:rgb(147, 150, 162);
}
form .corps-formulaire .droite .corps-formulaire-droite .groupe_2 textarea
{
    padding: 10px;
    border:1px solid #c9c9c9;
    outline-color: red;
    border-radius:5px;
    background-color:#193034;
    color:rgb(147, 150, 162);
    resize:none;
    height:72%;
}
form .corps-formulaire .droite .corps-formulaire-droite .groupe_2 button
{
    margin-top:15px;
    background-color:rgb(4, 4, 90);
    color:rgb(255, 255, 255);
    font-size:15px;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    outline:none;
    cursor:pointer;
    font-weight:1000;
    transition: transform 0.5s;
}
form .corps-formulaire .droite .corps-formulaire-droite .groupe_2 button:hover
{
    transform:scale(1.05);
}

@media screen and (max-width:920px)
{
     form .corps-formulaire .boite
    {
    margin-top:20px;
    margin-left:0px;
    }
}


